target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/sample-gradle/.gradle/
/sample-gradle/.nb-gradle/
/sample-gradle/build/
**.classpath
**.project
**.settings

# JetBrain IntelliJ
.idea/
**.iml